* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#principal-header {
  border-bottom: 1px solid black;
  height: 10vh;
  position: relative;
}

#header-logo {
  float: left;
  width: 5%;
  padding: 20px;
  position: absolute;
  left: 100px;
}

.nav-bar {
  position: absolute;
  /* border: 1px solid red; */
  width: 75%;
  right: 0;
  height: 100%;
}

.nav-bar ul {
  display: flex;
  flex-flow: row nowrap;
  /* border: 1px solid blue; */
  height: 100%;
  align-items: flex-end;
}

.list-item {
  list-style: none;
  /*  border: 1px solid green; */
  text-align: center;
  padding: 20px;
}

.list-item a {
  text-decoration: none;
  color: black;
}

.list-item-header {
  flex: 25%;
}

.list-item-footer {
  display:inline-block;
  margin-right:40px;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #F4F4F4;
  text-align: center;
  padding-top: 10%;
}

#main-title {
  line-height: 100px;
  font-size: 100px;
}

.flex-container {
  /* background-color: DodgerBlue; */
  /* border: 2px solid red; */
  display: flex;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  /* flex-flow is a shorthand property for setting both the flex-direction and flex-wrap properties. */
  /* flex-flow:row wrap; */
}

.flex-item {
  padding: 0 4px;
  width: 20%;
  /* line-height: 75px; */
  flex: 33.33%;
  text-align: center;
  /* border:2px solid black; */
}

#liger {
  order: 5;
  flex: 66.66%;
  background-color: #F4F4F4;
}

#loris {
  order: 1;
}

#leafy {
  order: 2;
}

#macaque {
  order: 3;
}

#centipede {
  order: 4;
  flex: 16.665%;
  align-self: center;
}

#duck {
  order: 6;
  flex: 16.665%;
  align-self: center;
}

#fox {
  order: 7;
}

#angler {
  order: 8;
}

#pangolin {
  order: 9;
}

#dolphin {
  order: 10;
  flex: 70%;
}

#grasshopper {
  order: 11;
  flex: 15%;
}

#tapir {
  order: 12;
  flex: 15%;
}

img {
  width: 100%;
  height: 100%;
  /* border:1px solid red; */
}

#duckimg {
  padding-top: 4px;
  padding-bottom: 4px;
}

#centipedeimg {
  padding-top: 4px;
  padding-bottom: 4px;
}

#principal-footer {
  display: block;
  height: 45%;
  text-align: center;
  padding: 50px 0;
  background-color: #3E3D3D;
}

.list-container-footer{
  display:block;
  width:75%;
  margin:0 auto;
  /* border:1px solid red; */
  margin-bottom:80px;
  text-align:center;
}

.fa-facebook:hover{
  color:dodgerblue;
}
.fa-instagram:hover{
  color:tomato;
}
.fa-twitter:hover{
  color:lightblue;
}
