*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto Mono', monospace;
}

div{
    font-size:200px;
    text-align: center;
    overflow: hidden;
}

#kiarapic{
    width: 700px;
    height:400px;
}

