* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.vertical-center {
	min-height: 100vh;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

#instructions {
	margin-bottom: 20px;
}

#hangPic {
	margin: 20px;
}

#hangSVG {
	max-height: 25vh;
}

.pagination {
	margin: 5px;
}

.btn {
    white-space: normal !important;
    word-wrap: break-word;
}

.alphaBtn {
	min-width: 40px;
	min-height: 40px;
	margin: 5px;
}

@media screen and (max-width: 768px) {
	.rightWrong {
		font-size: .8em;
	}

	.alert {
		width: 90vw !important;
		transform: translate(-50vw);
	}
}
